# Created and maintained by Andre Bacao @ andre@bacao.pt
#
## [ temp files ]
*.retry
*.swp
*.lock

## [ folders ]
.vagrant/
.terraform/
.kitchen/
.idea/

## [ files ]
.DS_Store
id_rsa
id_rsa.pub
*.exe
GemFile
.kitchen.yml

## [ terraform ]
terraform.tfvars
*.tfstate
*.tfstate.backup
